doctype html
html
    head
        title=title
        style(type='text/css')
    body
        header
            nav
                .plop
                    #id

        main
            block content

        footer
            div #{name}
